<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - U-LOVE Wonders</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body class ="login-page">
  <header>
    <nav class="navbar">
      <a href="index.html" class="logo">
        <img src="{{ url_for('static', filename='images/logo.jpg')}}" alt="U-LOVE Wonders Logo">
      </a>
      <ul class="nav-links">
        <li><a href="{{ url_for('home')}}">Home</a></li>
        <li><a href="{{ url_for('register')}}">Register</a></li>
        <li><a href="{{ url_for('resources')}}">Resources</a></li>
        <li><a href="{{ url_for('profile')}}">Profile</a></li>
        <li><a href ="{{ url_for('contact')}}">Contact Us</a></li>
        <li><a href="{{ url_for('login')}}" class = "active">Login</a></li>
        <li><a href="{{ url_for('logout')}}">Logout</a></li>
      </ul>
    </nav>
  </header>
  
  <main>

    <form action="{{ url_for('login') }}" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      
      <button type="submit">Login</button>
    </form>
     
    
    <p>Don't have an account? <a href="register.html">Register here</a> to create an account.</p>
  
  </main>
</body>
<!-- Footer -->
<footer>
  <div class="footer-content">
    <div class="footer-logo">
      <img src="{{ url_for('static', filename='images/logo.jpg')}}" alt="U-Love Wonders Logo">
    </div>
    
    <div class="footer-contact">
      <h4>Contact Us</h4>
      <p>Email: uloveclub@gmail.com</p>
      <p>Phone: +250791381714</p>
    </div>
    <div class="footer-social">
      <h4>Follow Us</h4>
      <p> @ulove.alu</p><a href="#"><img src="{{ url_for('static', filename='images/instagram.jpeg')}}" alt="Instagram"></a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 U-LOVE Wonders. All rights reserved.</p>
    <a href="privacy.html">Privacy Policy</a> | <a href="terms.html">Terms of Service</a>
  </div>
</footer>

</html>
