<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Dashboard - Wellbeing Wonders</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
  <header>
    <nav class="navbar">
      <a href="{{ url_for('home') }}" class="logo">
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="U-LOVE Wonders Logo">
      </a>
      <ul class="nav-links">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('main_dashboard') }}" class="active">Dashboard</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      </ul>
    </nav>
  </header>
<body class="main_dashboard-page">
  <main class="main-content">
    <div class="dashboard-container">
      <h1>Welcome to the Main Dashboard!</h1>
      <p>Navigate to role specific dashboards:</p>

      <div class="dashboard-links">
        <a href="{{ url_for('admin_dashboard') }}" class="dashboard-link">Admin Dashboard</a>
        <a href="{{ url_for('peer_dashboard') }}" class="dashboard-link">Peer Supporter Dashboard</a>
        <a href="{{ url_for('student_dashboard') }}" class="dashboard-link">Student Dashboard</a>
        <a href="{{ url_for('counsellor_dashboard') }}" class="dashboard-link">Counsellor Dashboard</a>
      </div>
    </div>
  </main>
 </body>
 <footer>
    <div class="footer-content">
      <div class="footer-logo">
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Wellbeing Wonders Logo">
      </div>
      
      <div class="footer-contact">
        <h4>Contact Us</h4>
        <p>Email: uloveclub@gmail.com</p>
        <p>Phone: +250791381714</p>
      </div>
      <div class="footer-social">
        <h4>Follow Us</h4>
        <p> @ulove.alu</p><a href="#"><img src="{{ url_for('static', filename='images/instagram.jpeg') }}" alt="Instagram"></a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 U-LOVE Wonders. All rights reserved.</p>
      <a href="privacy.html">Privacy Policy</a> | <a href="terms.html">Terms of Service</a>
    </div>
  </footer>
</html>
