<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register - Wellbeing Wonders</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body class ="register-page">
  <header>
    <nav class="navbar">
      <a href="index.html" class="logo">
        <img src="{{ url_for('static', filename='images/logo.jpg')}}" alt="U-LOVE Wonders Logo">
      </a>
      <ul class="nav-links">
        <li><a href="{{ url_for('home')}}">Home</a></li>
        <li><a href="{{ url_for('register')}}" class ="active">Register</a></li>
        <li><a href ="{{ url_for('contact')}}">Contact Us</a></li>
        <li><a href="{{ url_for('login')}}">Login</a></li>
        <li><a href="{{ url_for('logout')}}">Logout</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <form method="POST" action="{{ url_for('register') }}">
      {{ form.hidden_tag() }}
      <div>
      <label for="username">Username:</label>
      {{ form.username(class="form-control", placeholder="Enter your username") }}
      </div>
      <div>
      <label for="email">Email:</label>
      {{ form.email(class="form-control", placeholder="Enter your email") }}  
      </div>
      <div>
      <label for="password">Password:</label>
      {{ form.password(class="form-control", placeholder="Enter your password") }}
      </div>
      <div>
      <label for="confirm-password">Confirm Password:</label>
      {{ form.confirm_password(class="form-control", placeholder="Confirm your password") }}
      </div>
      <div>
      <label for="role">Role:</label>
      {{ form.role(class="form-control") }}
      </div>
      </select>
      <p>After registration, a verification email will be sent to your inbox.</p>
      <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('login')}}">Login here</a> to have more access.
  </main>
</body>
<!-- Footer -->
<footer>
  <div class="footer-content">
    <div class="footer-logo">
      <img src="{{ url_for('static', filename='images/logo.jpg')}}" alt=" U-LOVE Wonders Logo">
    </div>
    
    <div class="footer-contact">
      <h4>Contact Us</h4>
      <p>Email: uloveclub@gmail.com</p>
      <p>Phone: +250791381714</p>
    </div>
    <div class="footer-social">
      <h4>Follow Us</h4>
      <p> @ulove.alu</p><a href="#"><img src="{{ url_for('static', filename='images/instagram.jpeg')}}" alt="Instagram"></a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 U-LOVE Wonders. All rights reserved.</p>
    <a href="privacy.html">Privacy Policy</a> | <a href="terms.html">Terms of Service</a>
  </div>
</footer>

</html>
